*{
 margin: 0;
 padding: 0;
}
.oscuro{
    color:#000000;
}
.claro{
    color: #331D2C;
}

body{
    transition: background 0.5s, color 0.5s;
    background-color: #FFC6AC;
}
header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #F4a3c8;
}
h1{
    text-align: center;
    margin:10px;
    padding: 10px;
}
.conteiner-buttons{
    display: flex; 
}
.conteiner-buttons button{
    display: flex;
    justify-content: center;
    margin: 10px;
    border-radius: 5px;
    border: 0px transparent;
    padding: 5px;
    background-color: transparent;
}
.conteiner-buttons button:hover{
    background-color: #3F2E3E;
}
.fa-font{
    font-size: 16px;
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin:20px;
    width: 100%;
}

.conteiner-meme{
    width: 450px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: black;
    box-sizing: border-box;
    position: relative;
}
p{
    background-color: rgb(255, 255, 255);
    padding:30px;
    z-index: 2;
    text-align:center;
    word-wrap: break-word;/*tuve que buscar y usar esta propiedad que si bien no conocia para que se usaba,
    lo aprendi con google porque tenia el problema que el texto se desbordaba del contenedor*/
}
.imagen {
    width: 100%;
    height: 100%;
    object-fit: fill;
    background-image: url();
    background-size: cover;
    background-position: center;
}

aside{
    position: fixed; /* Debe estar posicionado de manera explícita */
    top: 0;
    right: 0;
    width: 220px;
    height: 100%;
    border-left: 2px solid #EFE1D1;
    box-shadow: -10px  0px 20px #a78295a5;
    z-index: 2;
    background-color: #C4C1A4;
    overflow: hidden;
}
.cerrar-panel{
    display: none;
}
h2{
    text-align: center;
    margin: 10px;
}
h3{
    font-size: 16px;
    margin: 5px;
}
#section-text{
    display: flex;
    flex-direction: column;
    width: 200px;
    height: 100%;
    justify-content: center;
    margin: 10px;
    

}
.texto-superior{
    display: flex;
    flex-direction: column;
    margin: 5px;
}

.checkbox-superior{
    margin: 5px;
}
.texto-inferior{
    display: flex;
    flex-direction: column;
    margin: 5px;
}
.checkbox-inferior{
    margin:5px;
}
.conteiner-textStyle-buttons-font{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.tiposDe-fuente{
    width: 100%;
    height: 30px;
    border-radius: 5px;
    background-color:#996f95;
    margin: 5px;
}
.flex-conteiner-butons{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-evenly;
}
#fonts-sizes{
    width: 50%;
    height: 30px;
    background-color:#996f95;
    border-style: none;
    border: 1px solid #3F2E3E;
    border-radius: 5px;
    text-align: center;
}
.button-control{
    background-color: transparent;
    border-style: none;
    border-radius:5px;
    border: 1px solid #331D2C;
    width: 25px;
    height: 30px;
}
.fa-align-center{
    font-size: 16px;
}
.fa-align-left{
    font-size: 16px;
}
.fa-align-right{
    font-size: 16px;
}
.conteiner-control-color{
    display: flex;
    justify-content: space-between;
}
.conteiner-text-color{
    display: flex;
    flex-direction: column;
    width: 45%;
}
.input-control-text-color{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    padding: 5px;
    height: 20px;
    background-color:#996f95;
}

#color-texto{
    width: 20px; /* Ancho del círculo */
    height: 25px; /* Alto del círculo */
    background:transparent;
    border: none;
     /* Color de fondo del círculo */
}

input[type="color"]::-webkit-color-swatch {
    border: none;
    appearance: none;
    border-radius: 50%;
}

.conteiner-back-color{
    display: flex;
    flex-direction: column;
    width: 50%;
}
.input-control-back-color{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    padding: 5px;
    height: 20px;
    background-color:#996f95;
}
#back-color{
    width: 20px; /* Ancho del círculo */
    height: 25px; /* Alto del círculo */
    background:transparent;
    border: none;
     /* Color de fondo del círculo */
}
input[type="color"]::-webkit-color-swatch {
    border: none;
    appearance: none;
    border-radius: 50%;
}
.checkbox-fondo-transparente{
    margin:5px;
}
.control-buttons-border-text{
    display: flex;
    flex-direction: column;
}
.buttons-border{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.buttons-border button{
    appearance: none;
    border: none;
    background-color: #996f95;
    border-radius: 10px;
    padding: 5px;
}

.block{
    display: none;
}
.conteiner-input-padding-text{
    margin: 5px;
}
#input-padding-text{
    border-radius: 10px;
    background-color:#996f95;
    color: #EFE1D1;
    height: 20px;
    border:1px solid black;
    text-align: center;
} 
#select-value-letterSpacing{
    text-align: center;
    border-radius: 10px;
    border: 1px solid black;
    height: 20px;
    width: 150px;
    background-color: #996f95;
    color: #EFE1D1;
}
#select-value-letterSpacing option{
    background-color: #996f95;
    color:#EFE1D1;
}



#section-image{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.conteiner-input-url{
    display: flex;
    flex-direction: column;
    margin: 5px;
}
#input-text-url{
    border-radius: 15px;
    height: 25px;
    background-color: #996f95;
    border: 1px solid #8d857c;
    color: #EFE1D1;
    text-align: center;
}
.section-Fondo{
   display:flex;
   flex-direction: row;
   justify-content: space-between;
   height: 30px;
   padding: 10px;
}
.input-back-color-image{
    width: 50%;
    height: 25px;
    border-radius: 15px;
    border: 1px solid #8d857c;
    background-color: #996f95;
    margin: 2px;
    text-align: center;
}

#select-color-back-image{
    width: 20px; /* Ancho del círculo */
    height: 25px; /* Alto del círculo */
    background:transparent;
    border: none;
    margin: 2.5px;
}
.select-filters-image{
    width: 50%;
    height: 30px;
}
#select-filter{
    height: 30px;
    border: 1px solid #8d857c;
    border-radius: 15px;
    background-color: #996f95;
}
.conteiner-inputs-filters{
    display: flex;
    flex-direction: column;
}
.conteiner-panel-slider{
   width: 100%;
}
.panel-slider-controls{
    display: flex;
    flex-direction: column;
    height: 25px;
    margin: 10px;
}
/*todavia no puedo descubrir la propiedad que modifica directamente la barra del slider para mostrar el progreso */
 
input[type='range'] {
    display: block;
    width: 200px;
}
  
input[type='range']:focus {
    outline: none;
}
  
input[type='range'],
input[type='range']::-webkit-slider-runnable-track,
input[type='range']::-webkit-slider-thumb {
    -webkit-appearance: none;
}
  
input[type=range]::-webkit-slider-thumb {
    background-color: #777;
    width: 20px;
    height: 20px;
    border: 3px solid #333;
    border-radius: 50%;
    margin: -7px;
}
  
input[type=range]::-webkit-slider-runnable-track {
    background-color: #9b3dbd;
    height: 3px;
} 
input[type=range]:focus::-webkit-slider-runnable-track {
    outline: none;
    background-color: #41154f;
    
}

.filtros-normales{
    background-color:#996f95;
    border-style: none;
    border-radius:5px;
    border: 1px solid #331D2C;
    width: 50%;
    height: 30px;
    margin: 10px;
}